box-shadow(level)
    if level == 1
        box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
    if level == 1.5
        box-shadow:0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2)
    if level == 2
        box-shadow:0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.3)
    if level == 3
        box-shadow:0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.3)
    if level == 4
        box-shadow:0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3)
    if level == 5
        box-shadow:0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.3)

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD


@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 300
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD

*
  box-sizing: border-box

html, body
    width:100%
    height:100%
    margin:0
    padding:0

header
    box-shadow(3)
    padding:2rem 0
    text-align:center
    color:white
    background-color:#2196F3

    h1
        font-family:Roboto
        font-weight:300
        font-size:60px
        padding: 1rem 0 1.5rem 0
        margin:0

    img
        height:300px

    a
        font-family:Roboto
        font-weight:300
        text-decoration:none
        color:white
        border:1px solid #ffffff44
        padding:0.5rem
        transition:.3s
        &:hover
            background-color:#ffffff77
main
    transition:.3s
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 20px
    grid-row-gap: 20px
    width:80%
    margin-top:20px
    margin-bottom:20px
    margin-left:10%

    img
        height:100px

    .outer-link
        text-decoration:none

    .card
        transition:.3s
        box-shadow(1.5)
        padding:10px
        text-align:center

        h2,p
            font-family:Roboto
            font-weight:300
            text-decoration:none
            color:white

        h2
            font-size:40px
            margin:10px

        p
            font-size:16px
            margin:5px

        &:hover
            box-shadow(2)

    .message
        padding-top:10px
        width:100%
        grid-column-start: 1
        grid-column-end: 3
        margin-bottom:30px
        text-align:center

        h1
            width: 100%
            color: #2196F3
            font-weight:300
            font-family:Roboto
            font-size:75px
            padding:10px 0
            margin:0

        p
            width: 100%
            color: #2196F3
            font-weight:300
            font-family:Roboto
            font-size:25px
            padding:10px 0
            margin:0

        a
            width: 100%
            color: black
            font-weight:300
            font-family:Roboto
            font-size:18px
            padding:20px 0
            margin:0
            top: 10px
            position: relative

    #nevis
        background: linear-gradient(353deg,#1976d2,#4fc3f7)

    #wod
        background: linear-gradient(37deg,#00793c,#31a435)

    #simon
        background-color:black

footer
    text-align:center
    font-family:Roboto
    font-weight:300
    border-top:1px solid #2196F3
    margin: 0 20px

    p
        margin:10px

@media (max-width:500px)
    header
        img
            height:250px

        h1
            font-size:60px

@media (max-width:600px)
    main
        width:90%
        margin-left:5%
        grid-template-columns: 1fr

